[submodule "jx-vins-fusion"]
	path = VINS-Fusion
	url = git@github.com:jaku-jaku/jx-vins-fusion.git
[submodule "kalibr"]
	path = kalibr
	url = https://github.com/ethz-asl/kalibr.git
[submodule "allan_variance_ros"]
	path = allan_variance_ros
	url = https://github.com/ori-drs/allan_variance_ros.git
[submodule "jx-Kimera-VIO-ROS"]
	path = jx-Kimera-VIO-ROS
	url = git@github.com:jaku-jaku/jx-Kimera-VIO-ROS.git
[submodule "Kimera-VIO"]
	path = Kimera-VIO
	url = git@github.com:jaku-jaku/Kimera-VIO.git
[submodule "gtsam"]
	path = gtsam
	url = https://github.com/borglab/gtsam.git
[submodule "opengv_catkin"]
	path = opengv_catkin
	url = https://github.com/ToniRV/opengv_catkin.git
[submodule "dbow2_catkin"]
	path = dbow2_catkin
	url = https://github.com/marcusabate/dbow2_catkin.git
[submodule "Kimera-RPGO"]
	path = Kimera-RPGO
	url = https://github.com/MIT-SPARK/Kimera-RPGO.git
[submodule "opencv3_catkin"]
	path = opencv3_catkin
	url = https://github.com/ethz-asl/opencv3_catkin.git
[submodule "pose_graph_tools"]
	path = pose_graph_tools
	url = https://github.com/MIT-SPARK/pose_graph_tools.git
