[submodule "jx-vins-fusion"]
	path = VINS-Fusion
	url = git@github.com:jaku-jaku/jx-vins-fusion.git
[submodule "kalibr"]
	path = kalibr
	url = https://github.com/ethz-asl/kalibr.git
[submodule "allan_variance_ros"]
	path = allan_variance_ros
	url = https://github.com/ori-drs/allan_variance_ros.git
[submodule "jx-ORB_SLAM3"]
	path = jx-ORB_SLAM3
	url = git@github.com:jaku-jaku/jx-ORB_SLAM3.git
[submodule "jx-Pangolin"]
	path = jx-Pangolin
	url = git@github.com:jaku-jaku/jx-Pangolin.git
